:root {
  --dark-green: #49b36d; //--dark-green:#49B36D;
  --green: #57d983;
  --light-green: #c2ffdb; //--light-green:#C2FFDB;
  --very-light-green: #ebf7f0; //--very-light-green:#EBF7F0;
  --lime-green: #daf7a6; //--lime-green:  #DAF7A6;
  --white: #ffffff; //--white: #FFFFFF;
  --very-light-grey: #fdfdfd; //--very-light-grey:#FDFDFD;
  --black: black;
  --light-black: #3c3c4399;
  --intense-weight: 700;
}
