:root {
    --very-light-green: #EBF7F0;
    --selection-green: #C2FFDB;
    --background-color: #FFFFFF;
    --project-card-background: #FDFDFD;
    --title-color: black;
    --title-weight: 700;
    --auxiliary-text-color: #3C3C4399;
    --buttonOptionColor: #C2FFDB;
    --background-green:#54785E;

}

