:root {
  --very-light-green: #ebf7f0;
  --selection-green: #c2ffdb;
  --background-color: #ffffff;
  --project-card-background: #fdfdfd;
  --title-color: black;
  --title-weight: 700;
  --auxiliary-text-color: #3c3c4399;
  --buttonOptionColor: #c2ffdb;
  --background-green: #54785e;
}
